body {
  background-color: #ffb0e7;
  display: block;
  font-family: "Afacad", serif;
  margin: 65px;
}
a {
  color: #7f08be;
}
.complete-app {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 50px auto;
  max-width: 650px;
  margin: 0 auto;
  padding: 55px;
}

.search-form-input {
  background-color: #ffb0e7;
  border: none;
  border-radius: 8px;

  font-size: 18px;
  font-family: "Afacad", serif;
  padding: 20px;
  width: 80%;
}
.search-form-submit {
  background-color: #499200;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-family: "Afacad", serif;
  padding: 20px 30px;
}

.weather-app-data-content {
  display: flex;
  justify-content: space-between;
}

.today-in-city {
  font-size: 16px;
  padding: 25px 0px;
}

.weather-current-city {
  font-size: 45px;
  margin: 0;
}
.weather-current-details {
  font-size: 18px;
  line-height: 25px;
}
.weather-current-temp {
  color: #499200;
}

.weather-app-details-container {
  display: flex;
  margin-top: 68px;
}
.weather-app-emoji {
  font-size: 40px;
  margin-top: 7px;
}
.weather-app-temperature-value {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-celsius {
  font-size: 25px;
  margin-left: 8px;
  margin-top: 20px;
}

.weather-forecast {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.forecast-day {
  display: block;
}

.weather-forecast-day-of-week {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.forecast-icon {
  display: block;
  font-size: 40px;
}
.weather-forecast-temp {
  display: flex;
  font-size: 16px;
  justify-content: center;
  text-align: center;
}
.forecast-temp-min {
  opacity: 0.7;
}

footer {
  border-top: 1px solid;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}
