body {
  background-color: pink;
  display: block;
  font-family: "Afacad", serif;
  margin: 65px;
}

.complete-app {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 50px auto;
  max-width: 650px;
  margin: 0 auto;
  padding: 55px;
}

.search-form-input {
  background-color: pink;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 20px;
  width: 80%;
}
.search-form-submit {
  background-color: darkmagenta;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 20px 30px;
}
